{% load static %}

<link rel="stylesheet" href="{% static 'Store/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'Store/css/fontawesome.min.css'%}">
<link rel="stylesheet" href="{% static 'Store/css/jquery.fancybox.min.css'%}">
<link rel="stylesheet" href="{% static 'Store/css/owl.carousel.min.css'%}">
<link rel="stylesheet" href="{% static 'Store/css/zebra_datepicker.min.css'%}">
<link rel="stylesheet" href="{% static 'Store/css/zebra_datepicker.min.css'%}">

<link rel="stylesheet" href="{% static 'Store/css/main.css'%}">